@import url('https://fonts.googleapis.com/css2?family=Literata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');

@media (min-width: 1000px) {
  #accordionSidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #topNavbar {
    position: fixed;
    top: 0;
    left: 17.5%;
    width: 82.5%;
    z-index: 5;
  }

  #contentWrapper {
    padding-left: 19.5%;
    padding-top: 7%;
  }

  .shrink {
    left: 8.2% !important;
    width: 91.8% !important;
  }

  .content-shrink {
    padding-left: 10% !important;
  }

  #logoNavbar {
    width: 110px;
  }

  .logo-shrink {
    width: 50px !important;
  }

  .sidebar .nav-item .nav-link {
    padding: .85rem 1.25rem;
  }

  footer {
    width: 85%;
    margin-left: 15%;
  }

  .footer-shrink {
    margin-left: 7% !important;
  }
}

/*body{
  font-family: 'Roboto', sans-serif;
}
*/
.bg-gradient-primary {
  background-color: #fff;
  background-image: linear-gradient(180deg, #9D7E59 20%, #E09745 100%);
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item {
  color: #fff;
  margin-bottom: 5px;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
  color: #fff;
  background-color: rgb(216, 148, 72);

}

.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover,
.sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
  background-color: #9D7E59;
}

.bg-submenu-nav {
  background-color: rgba(0, 0, 0, .3);
}

.toggled .bg-submenu-nav {
  background-color: rgba(0, 0, 0, .85);
}

.judul {
  font-family: 'Literata', serif;
  font-weight: 500;
  font-size: 2rem;
}

.sub-judul {
  font-family: 'Literata', serif;
  font-size: 1.5rem;

}

.preview {
  max-width: 500px;
  /*display: block;*/
}

.form-check-input:checked {
  background-color: rgb(214, 148, 72);
  border-color: rgb(214, 148, 72);
}

.select2-container--default .select2-selection--single {
  display: block !important;
  width: 100% !important;
  height: calc(1.5em + .75rem + 2px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #6e707e;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #d1d3e2 !important;
  border-radius: .35rem !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 7px;
  right: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 25px;
}

.output_multiple_image {
  width: 100%;
}

.wrap-text-perbaikan {
  min-height: 60vh;
  margin-top: 20vh;
}

.wrapper-foto-slider {
  padding: .75rem;
  background-color: rgba(242, 242, 242, 0.4);
  border-radius: 5px;
  margin-bottom: 1rem;
}

.center-v {
  margin-top: auto;
  margin-bottom: auto;
}

little {
  font-size: 14px;
  margin-top: 5px;
}


.btn-primary-jarem {
  background-color: #DC3646;
  border-color: #DC3646;
  color: #fff;
  /*width: 300px;*/
}

.btn-primary-jarem:hover,
.btn-primary-jarem:focus,
.btn-primary-jarem:active {
  background-color: #BE8A4F;
  border-color: #BE8A4F;
  color: #fff;
}

.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid rgba(255, 255, 255, 1);
}

.form-label {
  color: #202020;
}

.tagin-tag{
  padding: 0px 7px;
}
